 main{
 	padding-top: 50px;
 }



 a, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

a:hover{
	color:grey;
}

.direction{
	font-size: 30px;
  text-align: center;
      display: block;
    margin-left: auto;
    margin-right: auto;

}

.space{
	padding-left: 365px
}

.space2{
	padding-left: 395px
}

.space3{
	padding-top: 200px
}

.space4{
	padding-top: 98px
}

.space5{
	padding-top:39px;
}

p{
  	text-align: center;
  	font-size: 18px;
  	font-family: "Courier";
}

h1{
  	text-align: center;
  	font-size: 30px;
  	font-family: "Courier";
}


.illustration{
  width: 400px;
  height: 400px;
  /*border: 3px solid black;*/
      display: block;
    margin-left: auto;
    margin-right: auto;
}

.options{
  width: 20%;
  margin: 0 auto;
}

.tooltip {

  /*display: inline-block;*/

    display: inline-block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    background-color: lightgrey;
    width: 50px;
    height: 24px;
    font-family: "Courier";
    font-size: 20px;
    margin-left: 10px;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 30px;
  margin-left: -80px;

 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.again{
	background-color: lightgrey;
	width: 100px;
	height: 24px;
    margin-left: auto;
    margin-right: auto;
}

.description{
	width: 33%;
	height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  	text-align: justify;
  	font-size: 18px;
  	font-family: "Courier";

}